.card h3{
    margin-left: 10px;
}
.card p{
    margin-left: 10px;
    padding-right: 20px;
}
.card p1{
    margin-left: 10px;
    font-weight: bold;
}
.card button{
    margin-left: 110px;
    margin-bottom: 1em;
}